{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="home-section section-hero inner-page overlay bg-image"
      style="background-image: url(/static/images/122.jpg);" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">About Us</h1>
              <p>Find your dream jobs on our powerful career platform.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="/static/images/logo2.png" alt="Image" class="img-fluid img-shadow">
            </a>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Building Careers That Shape Your Future</h2>
            <p>Our platform is built to connect you with career opportunities that align with your skills, goals, and ambitions. We provide the tools, resources, and support 
              needed to make your job search smooth, efficient, and successful.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Our Team</h2>
          </div>
        </div>
    
        <div class="row justify-content-center align-items-center text-center">
    
          <div class="col-md-4">
            <img src="/static/images/sam1.jpg" alt="Image" class="img-fluid mb-4 rounded">
            <h3>Samuel P. Wleh Jr</h3>
            <p class="text-muted">Managing Director</p>
            <p>Samuel drives the creative direction of our platform, crafting a smooth, intuitive, and engaging user experience.</p>
          </div>
    
          <div class="col-md-4">
            <img src="/static/images/hassan.jpg" alt="Image" class="img-fluid mb-4 rounded">
            <h3>Hassan M. Sesay </h3>
            <p class="text-muted">Executive Director</p>
            <p>Hassan leads the strategic planning and operational management
               of the platform, ensuring steady growth and efficiency.</p>
          </div>
    
          <div class="col-md-4">
            <img src="/static/images/am.jpg" alt="Image" class="img-fluid mb-4 rounded">
            <h3>Alamin Mohammed Bashir</h3>
            <p class="text-muted">Vice President</p>
            <p>Alamin manages key projects and ensures quality and performance.</p>
          </div>
    
          <div class="col-md-4">
            <img src="/static/images/kell.jpg" alt="Image" class="img-fluid mb-4 rounded">
            <h3>Barth kelitha Indundu</h3>
            <p class="text-muted">Lead Developer</p>
            <p>Barth develops and maintains the core technical infrastructure of our platform.</p>
          </div>

          <div class="col-md-4">
            <img src="/static/images/Sarwe.jpg" alt="Image" class="img-fluid mb-4 rounded">
            <h3>Sarweeta G. FaeFlen</h3>
            <p class="text-muted">Product Manager</p>
            <p>Sarweeta Product Manager oversees the evolution of the platform.</p>
          </div>
    
          <div class="col-md-4">
            <img src="/static/images/x.jpg" alt="Image" class="img-fluid mb-4 rounded">
            <h3>Chrinovic T. Kinende</h3>  
            
            <p class="text-muted">Team Lead</p>  
          <p>Chrinovic Team Lead mentors team members, manages priorities.</p> 
          </div>
    
        </div>
      </div>
    </section>
    
    

{% endblock %}